@import "../../base/fn";


.weui-panel {
    background-color: #FFFFFF;
    margin-top: 10px;
    &:first-child {
        margin-top: 0;
    }

    position: relative;
    overflow: hidden;
    &:before {
        .setTopLine(@weuiLineColorLight);
    }
    &:after {
        .setBottomLine(@weuiLineColorLight);
    }
}

.weui-panel__hd {
    padding: 14px 15px 10px;
    color: @weuiTextColorGray;
    font-size: 13px;
    position: relative;
    &:after {
        .setBottomLine(@weuiLineColorLight);
        left: 15px;
    }
}

///* Andy add */

.weui-panel{
  background-color: inherit;
  color: #E6863E;
  font-family: sans-serif;
  font-size: 8px;
  line-height: 15px;
  padding: 5px;
  text-decoration: underline;
}
.weui-panel:before{
  border: none;
}
.weui-panel:after{
  border: none;
}




